
/* snow size */
.snows span:nth-child(4n+1) {
	width: 0.8vw;
	height: 0.8vw;
	box-shadow: 0 0 1vw 0.5vw rgba(255, 255, 255, 0.45);
}

.snows span:nth-child(4n+2) {
	width: 1vw;
	height: 1vw;
	box-shadow: 0 0 1vw 0.7vw rgba(255, 255, 255, 0.4);
}

.snows span:nth-child(4n+3) {
	width: 1.1vw;
	height: 1.1vw;
	box-shadow: 0 0 1vw 1vw rgba(255, 255, 255, 0.35);
}

.snows span:nth-child(4n+4) {
	width: 1.2vw;
	height: 1.2vw;
	box-shadow: 0 0 1vw 1.2vw rgba(255, 255, 255, 0.3);
}

/* animation-duration */
.snows span:nth-child(6n+1) {
	animation-duration: 20s;
}

.snows span:nth-child(6n+2) {
	animation-duration: 15s;
}

.snows span:nth-child(6n+3) {
	animation-duration: 7s;
}

.snows span:nth-child(6n+4) {
	animation-duration: 30s;
}

.snows span:nth-child(6n+5) {
	animation-duration: 20s;
}

.snows span:nth-child(6n+6) {
	animation-duration: 40s;
}


/* animation-delay */
.snows span:nth-child(5n+1) {
	animation-delay: 0s;
}

.snows span:nth-child(5n+2) {
	animation-delay: 12s;
}

.snows span:nth-child(5n+3) {
	animation-delay: 7s;
}

.snows span:nth-child(5n+4) {
	animation-delay: 4s;
}

.snows span:nth-child(5n+5) {
	animation-delay: 10s;
}

/* snow animation */
@keyframes snow-anim {
	0% {
		top: -10%;
		transform: translateX(0);
	}

	35% {
		transform: translateX(3vw);
	}

	65% {
		transform: translateX(-3vw);
	}

	100% {
		top: 100%;
		transform: translateX(0);
	}
}
